{% extends "base.html" %}

{% block title %} Bienvenue à SMA TOGO {% endblock %}

{% block content %}
	<!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/static/assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <!--h6>Hello Students</h6-->
              <h2>Bienvenue à SMA TOGO</h2>
              <p>
				La présence des pères SMA au Togo remonte dans les années 1886 avec l’arrivée des Pères Jeremiah MORAN et Aimé BEAUQUIS à Atakpamé.
			  </p>
              <div class="main-button-red">
                  <div><a href="/notre-histoire/">Notre Histoire</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            {% for n in news %}
            <div class="item">
              <div class="icon">
                <img src="/static/assets/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <a href="/news/{{n.id}}/details/"><h4>{{n}}</h4></a>
                <p>{{n.desc}}</p>
              </div>
            </div>
			{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Activités récentes</h2>
          </div>
        </div>
        <!--div class="col-lg-4">
          <div class="categories">
            <h4>Meeting Catgories</h4>
            <ul>
              <li><a href="#">Sed tempus enim leo</a></li>
              <li><a href="#">Aenean molestie quis</a></li>
              <li><a href="#">Cras et metus vestibulum</a></li>
              <li><a href="#">Nam et condimentum</a></li>
              <li><a href="#">Phasellus nec sapien</a></li>
            </ul>
            <div class="main-button-red">
              <a href="meetings.html">All Upcoming Meetings</a>
            </div>
          </div>
        </div-->
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3">
              <div class="meeting-item" >
                <div class="thumb">
                  <!--div class="price">
                    <span>$22.00</span>
                  </div-->
                  <img src="/static/assets/images/recents/recent1.jpg" alt="New Lecturer Meeting">
                </div>
                <div class="down-content" style="height: 190px !important;">
                  <h4>
					Confirmation de 41 jeunes de la paroisse St Jean Paul Il d'Agogomé à Kpalimé.
				  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="meeting-item">
                <div class="thumb">
                  <!--div class="price">
                    <span>$36.00</span>
                  </div-->
                  <img src="/static/assets/images/recents/recent2.jpg" alt="Online Teaching">
                </div>
                <div class="down-content" style="height: 190px !important;">
                  <h4>
					8eme Assemblée générale de l'amicale SMA Togo à la paroisse Notre-Dame du Perpétuel secours d'Agodeke.
				  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="meeting-item">
                <div class="thumb">
                  <!--div class="price">
                    <span>$14.00</span>
                  </div-->
                  <img src="/static/assets/images/recents/recent3.jpg" alt="Higher Education">
                </div>
                <div class="down-content" style="height: 190px !important;">
                  <h4>Rencontre avec les aspirants SMA Togo à Bé  ce samedi 11 mars 2023</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="meeting-item">
                <div class="thumb">
                  <!--div class="price">
                    <span>$48.00</span>
                  </div-->
                  <img src="/static/assets/images/recents/recent4.jpg" alt="Student Training">
                </div>
                <div class="down-content" style="height: 190px !important;">
                  <h4>
					Le semestriel de l info de la province SMA du Togo
				  </h4>
                </div>
              </div>
            </div>
			<!--div class="col-lg-3">
              <div class="meeting-item">
                <div class="thumb">
                  <!--div class="price">
                    <span>$48.00</span>
                  </div-->
                  <!--a href="meeting-details.html"><img src="/static/assets/images/activities/activity5.jpg" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <h4>Morbi in libero blandit</h4>
                </div>
              </div>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item" style="background-color: rgba(0, 0, 0, 0.9) !important;">
                <h3>APPEL AU SOUTIEN</h3>
                <p>Chaque don est une aide essentiel à l'épanouissement de tout le monde.</p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#">Faire un don</a></div>
              </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="col-lg-12">
              <div class="item" style="background-color: rgba(0, 0, 0, 0.9) !important;">
                <h3>EVANGELISATION</h3>
                <p>Voulez-vous apprendre la parole de DIEU? Cela est possible grâce a notre Web TV</p>
                <div class="main-button-yellow">
                  <div class="scroll-to-section"><a href="#">SMA TOGO TV</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Certaines de nos images</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <div style="padding: 40px; background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(28, 133, 189, 1.0));" >
				<img src="/static/assets/images/gallery1.jpg" alt="">
			  </div>
            </div>
			<div class="item">
              <div style="padding: 40px; background-image: linear-gradient(rgba(28, 133, 189, 1.0), rgba(0, 0, 0, 1.0));" >
				<img src="/static/assets/images/gallery2.jpg" alt="">
			  </div>
            </div>
			<div class="item">
              <div style="padding: 40px; background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(28, 133, 189, 1.0));" >
				<img src="/static/assets/images/gallery3.jpg" alt="">
			  </div>
            </div>
			<div class="item">
              <div style="padding: 40px; background-image: linear-gradient(rgba(28, 133, 189, 1.0), rgba(0, 0, 0, 1.0));" >
				<img src="/static/assets/images/gallery4.jpg" alt="">
			  </div>
            </div>
			<div class="item">
              <div style="padding: 40px; background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(28, 133, 189, 1.0));" >
				<img src="/static/assets/images/gallery5.jpg" alt="">
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

