{% extends "base.html" %}

{% block title %} PROJETS SMA - SMA TOGO {% endblock %}

{% block extrastyle %}
	<style>
		section.heading-page {
			background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(28, 133, 189, 1.0)), url('/static/assets/images/conseil_bg.png');
		}
	</style>
{% endblock %}

{% block content %}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
		  {% if content == "leader" %}
          <h2>Responsable des projets SMA</h2>
		  {% endif %}
		  {% if content == "details" %}
          <h2>Liste des projets SMA</h2>
		  {% endif %}
		  {% if content == "gallery" %}
          <h2>Gallerie des projets SMA</h2>
		  {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
				<div class="col-lg-12">
					<div class="meeting-single-item">
						<div class="down-content">
						  {% if content == "leader" %}
							 {% autoescape off %} {{project.leader}} {% endautoescape %}
						  {% endif %}
						  {% if content == "details" %}
							 {% autoescape off %} {{project.details}} {% endautoescape %}
						  {% endif %}
						  {% if content == "gallery" %}
							 {% autoescape off %} {{project.gallery}} {% endautoescape %}
						  {% endif %}
						</div>
					</div>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

