{% extends "base.html" %}

{% block title %} SMA WEB TV {% endblock %}

{% block extrastyle %}
	<style>
		section.heading-page {
			background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('/static/assets/images/general_bg.png');
		}
	</style>
{% endblock %}

{% block content %}
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>SMA TV</h6>
          <h2>Suivez-nous en continue 24/7</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>SMA TV</h2>
                  </div>
                  <div style="border: 3px solid rgb(9, 124, 164);" >
                    <video autoplay controls muted style="max-width: 100%;" id="live" >
                        <source src="https://smatogo.tv:89/smatogo/smatogo.m3u8"
                            type="application/x-mpegURL"
                        ></source>
                    </video>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
